.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 50px;
  margin-left: 5px;
  position: relative;
  gap: 0;
}

.about-container img {
  max-width: 500px;
  display: block;
  height: auto;
  border-radius: 8px;
}

.about-section {
  flex: 1;
  padding: 20px;
  max-height: 95%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  font-family: 'Lato';
  font-size: 1rem;
  background: white;
  color: #eaeaea;
  border-radius: 10px;
  border: 1px solid;
  box-shadow:
    0 0 20px rgba(18,119,176,0.6),
    0 0 40px rgba(18,119,176,0.5),
    0 0 80px rgba(18,119,176,0.4),
    0 10px 25px rgba(0,0,0,0.8);
  max-width: 600px;
}

.about-section h2 {
  font-size: 2rem;
  color: black;
  text-align: center;
}

.about-section p {
  color: black;
}

.about-section h2,
.about-section p {
  margin: 0 0 12px;
}

.about-section p:last-child {
  margin-bottom: 0;
}

.divider {
  border-top: 2px solid black;
  margin: 2rem 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about-images {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.about-question {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1024px) {
  /* 1. Stack the main container items (text and images) vertically.
  2. Add some gap between the text and image sections.
  3. Reset the margins/padding for a cleaner mobile layout.
  */
  .about-container {
    flex-direction: column;
    margin: 50px auto;
    padding: 0 10px;
    gap: 10px;
  }

  .about-section {
    max-width: 100%;
    flex: initial;
    padding: 10px;
  }
  
  .about-container img {
    max-width: 100%;
    height: auto;
  }

  .about-images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-images {
    width: 80%;
  }

  .divider {
    margin: 0.8rem 0;
  }

  .about-section p:nth-last-child(4) { 
      margin-bottom: 10px;
  }
}