.profile-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 400px;
  padding: 150px 40px 0 40px;
  gap: 10px;
  /* width: 100%; */
  max-width: 1400px;
  margin: 0 auto;
  /* box-sizing: border-box; */
}

.profile-photo {
  position: relative;
  width: 350px;
  height: 100%;
  flex-shrink: 0;
}

.profile-photo img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 130%;
  width: auto;
  object-fit: contain;
}

.headline {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  max-width: 1000px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
}


.headline-line {
  margin: 5px 0;   /* small vertical spacing */
  line-height: 1.2;
}

.headline-sub {
  margin-top: 120px;
  font-size: 1em;
  line-height: 1.4;
}